@import '../base';

.auction{
    //border: 3px solid chartreuse;
    position: relative;
    top:70px;
    &_item_row{
        display: flex;
        padding: 10px;
        column-gap: 5px;
        &_images{
            //border: 3px solid gray;
            width: calc(100vw - 300px);
            display: flex;
            column-gap: 5px;
            //padding: 5px;
            &_big{
                width: 80%;
                aspect-ratio: 10/6;
                @include image-fit;
                img{border-radius: 10px;}
                padding: 5px;
                //border: 2px solid silver;
                border-radius: 10px;
            }
            &_smalls{
                width: 20%;
                display: flex;
                flex-direction: column;
                row-gap: 1%;
                position: relative;
                button {
                    border: none;   
                    width: 25px;
                    aspect-ratio: 1/1; 
                    border-radius: 3px;
                    color:white;
                    cursor: pointer;
                    background-color: black;
                    &:focus{
                        background-color: red;
                    }
                }

                &_order{
                    display: flex;
                    position: absolute;
                    column-gap: 5px;
                    padding: 5px;
                    right: 5px;
                }
                &_small{
                    height: 33.5%;
                    @include image-fit;
                    img{border-radius: 10px;}
                    border: 2px solid silver;
                    border-radius: 10px;
                }
            }

        }
        &_details{
            //border:3px solid green;
            width: 300px;

            position: relative;
            display: grid;
            padding: 5px;
            &_row{
                display: flex;
                padding: 5px;
                border-bottom: 1px solid silver;
            }
        }
    }
}



// Medium devices (tablets, less than 992px)
@media (max-width: 1251.98px) { 
    .auction{
       // border:3px solid blue;
        &_item_row{
            width: 100%;
            display: grid;
            &_images{
                width: 100%;
                &_big{
                }
                
    
            }
            &_details{
                //border:3px solid green;
                top:20px;
                width: 100%;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .auction{
        //border:3px solid red;
        &_item_row{
            display: grid;
            &_images{
                flex-direction: column;
                display: grid;
                justify-content: center;
                &_big{
                    order: 1;
                    width: 99.5%;
                }
                &_smalls{
                    flex-direction: row;
                    column-gap: 5px;
                    justify-content: space-evenly;
                    order: 2;
                    width: 100%;
                    padding: 5px;
                    &_small{
                        height: 100%;
                        width: 33%;
                    }
                }
            }
            &_details{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .auction{
        //border:3px solid green;
        top:50px;
        &_item_row{
            &_images{
                &_big{
                }
            }
            &_details{
                grid-template-columns: 1fr;
            }
        }
    }
 }



