.auction{
    border: 3px solid chartreuse;
    position: relative;
    top:70px;
    &_item_row{
        display: flex;
        &_images{
            border: 3px solid gray;
            width: calc(100vw - 300px);
            display: flex;
            &_big{
                width: 80%;
                background-color: yellow;
                aspect-ratio: 10/7;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_smalls{
                background-color: aqua;
                width: 20%;
            }

        }
        &_details{
            border:3px solid green;
            width: 300px;
        }
    }
}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .auction{
        border:3px solid blue;
        &_item_row{
            display: grid;
            &_images{
                width: 100vw;
                &_big{
                    background-color: yellow;
                }
                &_smalls{
                }
    
            }
            &_details{
                border:3px solid green;
            }
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .auction{
        padding: 0 20px;
        border:3px solid red;
        &_item_row{
            display: grid;
            &_images{
                width: 100%;
            }
            &_details{
                width: 100%;
            }
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .auction{
        border:3px solid green;
    }
 }



