@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}
@-webkit-keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@-webkit-keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@-webkit-keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@-webkit-keyframes beat {
  0% {
    width: 50px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 50px;
  }
}
@keyframes beat {
  0% {
    width: 50px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 50px;
  }
}
@-webkit-keyframes beatmobile {
  0% {
    width: 30px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 30px;
  }
}
@keyframes beatmobile {
  0% {
    width: 30px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 30px;
  }
}
.auction {
  position: relative;
  top: 70px;
}
.auction_item_row {
  display: flex;
  padding: 10px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.auction_item_row_images {
  width: calc(100vw - 300px);
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.auction_item_row_images_big {
  width: 80%;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 10px;
  height: 500px;
}
.auction_item_row_images_big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auction_item_row_images_big img {
  border-radius: 10px;
}
.auction_item_row_images_big img {
  -o-object-fit: contain;
     object-fit: contain;
}
.auction_item_row_images_smalls {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
}
.auction_item_row_images_smalls button {
  border: none;
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background-color: black;
}
.auction_item_row_images_smalls button:focus {
  background-color: red;
}
.auction_item_row_images_smalls_order {
  display: flex;
  position: absolute;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 5px;
  right: 5px;
}
.auction_item_row_images_smalls_small {
  height: 33.5%;
  border: 2px solid silver;
  border-radius: 10px;
  cursor: pointer;
}
.auction_item_row_images_smalls_small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auction_item_row_images_smalls_small img {
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.auction_item_row_details {
  width: 300px;
  min-width: 300px;
  position: relative;
  padding: 5px;
  background-color: rgb(250, 237, 211);
}
.auction_item_row_details_row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.auction_item_row_details_row #details {
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  color: rgb(51, 50, 50);
  border-top: 1px solid gray;
}
.auction_item_row_details_row #title {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid gray;
  font-weight: 900;
}
.auction_booking {
  position: relative;
  padding: 50px 0;
}
.auction_booking_seats {
  display: grid;
  justify-items: center;
}
.auction_booking_seats_tierone_seat, .auction_booking_seats_tiertwo_seat, .auction_booking_seats_tierthree_seat, .auction_booking_seats_tierfour_seat {
  display: grid;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.auction_booking_seats_tierone_seat img, .auction_booking_seats_tiertwo_seat img, .auction_booking_seats_tierthree_seat img, .auction_booking_seats_tierfour_seat img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auction_booking_seats_tierone_seat #available, .auction_booking_seats_tiertwo_seat #available, .auction_booking_seats_tierthree_seat #available, .auction_booking_seats_tierfour_seat #available {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 10%;
}
.auction_booking_seats_tierone_seat #available img, .auction_booking_seats_tiertwo_seat #available img, .auction_booking_seats_tierthree_seat #available img, .auction_booking_seats_tierfour_seat #available img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auction_booking_seats_tierone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70vw;
  max-width: 600px;
}
.auction_booking_seats_tiertwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
  max-width: 400px;
}
.auction_booking_seats_tierthree {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30vw;
  max-width: 250px;
}
.auction_booking_seats_tierfour {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 15vw;
  max-width: 120px;
}

@media (max-width: 1251.98px) {
  .auction_item_row {
    width: 100%;
    display: grid;
  }
  .auction_item_row_images {
    width: 100%;
  }
  .auction_item_row_details {
    top: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .auction_booking {
    top: 30px;
  }
}
@media (max-width: 991.98px) {
  .auction_item_row_details {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  .auction_item_row {
    display: grid;
  }
  .auction_item_row_images {
    flex-direction: column;
    display: grid;
    justify-content: center;
  }
  .auction_item_row_images_big {
    order: 1;
    width: 99.5%;
    max-height: 350px;
  }
  .auction_item_row_images_smalls {
    flex-direction: row;
    -moz-column-gap: 5px;
         column-gap: 5px;
    justify-content: space-evenly;
    order: 2;
    width: 100%;
    padding: 5px;
    height: auto;
  }
  .auction_item_row_images_smalls_small {
    height: 100%;
    width: 33%;
  }
  .auction_item_row_details {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575.98px) {
  .auction {
    top: 50px;
  }
  .auction_item_row_images_big {
    max-height: 350px;
  }
  .auction_item_row_details {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=auction.css.map */