@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}
@-webkit-keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@-webkit-keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% - 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% - 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@-webkit-keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
.Header {
  display: grid;
  height: calc(100vh - 70px);
}
.Header_tabs {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  display: grid;
  position: relative;
  padding: 20px;
  row-gap: 5px;
  top: 73px;
  overflow: scroll;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Header_tabs_tab {
  width: 110px;
  aspect-ratio: 10/9;
  background: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Header_tabs_tab #icon {
  width: 60px;
  aspect-ratio: 1/1;
  display: grid;
  justify-self: center;
  position: absolute;
  top: 0;
}
.Header_tabs_tab #icon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.Header_tabs_tab_text {
  font-size: 17px;
  font-weight: 900;
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #E3856B;
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .Header {
    position: relative;
  }
  .Header_tabs {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
    height: 133px;
    width: 100vw;
    position: relative;
    padding: 5px 10px;
  }
  .Header_tabs_tab {
    width: 120px;
  }
}
@media (max-width: 767.98px) {
  .Header_tabs {
    font-size: 16px;
    padding: 0;
    border-radius: 20px;
    height: 120px;
    flex-direction: row;
    top: 78px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 575.98px) {
  .Header {
    position: relative;
    top: 20px;
    overflow: hidden;
    width: 100vw;
    top: -15px;
  }
  .Header_tabs {
    width: 100vw;
    padding: 0;
    row-gap: 0;
    display: flex;
    overflow: scroll;
    height: 107px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .Header_tabs_tab {
    width: 25vw;
  }
}/*# sourceMappingURL=header.css.map */