@import '../base';

.Header{
    display: grid;
    height: calc(100vh - 70px);
    position: fixed;
    width: 150px;
    &_tabs{
            font-family: $roboto;
            font-size: 16px;
            display: grid;
            position: relative;
            padding: 20px;
            row-gap: 5px;
            top: 73px;
            overflow: scroll;
            width: fit-content;
            &_tab{
                width: 110px;
                aspect-ratio: 10/9;
                background: transparent;
                border: none;
                cursor: pointer;
                @include grid-center;
                position: relative;
                &:focus{
                    span{
                        color:green;
                    }
                }
                #icon{
                    width: 60px;
                    aspect-ratio: 1/1;
                    display: grid;
                    justify-self: center;
                    position: absolute;
                    top: 0;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                &_text{
                    font-size: 17px;
                    font-weight: 900;
                    position: absolute;
                    bottom: 15px;
                    width: 100%;
                    color: #E3856B;
                    text-decoration: underline;
                }
            }
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .Header{
        position: relative;
        height: 205px;
        //border: 2px solid blue;
        &_tabs{
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                height: 133px;
                width: 100vw;
                position: relative;
                padding: 5px 10px;
                &_tab{
                    width: 120px;
                }
        }
    }
  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .Header{
        &_tabs{
                font-size: 16px;
                padding: 0;
                border-radius: 20px;
                height: 120px;
                flex-direction: row;
                //top: 78px;
                column-gap: 5px;
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Header{
        position: relative;
        overflow: hidden;
        width: 100vw;
        //border: 2px solid red;
        top:50px;
        height: 150px;
        &_tabs{
                //width: 100vw;
                padding: 0;
                row-gap: 0;
                display: flex;
                overflow: scroll;
                column-gap: 0;
                height: 105px;
                top: 3px;
                &_tab{
                    width: 25vw;
                }
        }
    }
 }