@import '../base';

.Header{
    //border: $sborderr;
    display: grid;
    align-items: center;
    width: fit-content;
    &_tabs{
            font-family: $roboto;
            font-size: 16px;
            display: flex;
            height: 700px;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: fit-content;
            padding: 20px;
            border-radius: 20px;
            row-gap: 10px;
            &_tab{
                width: 130px;
                aspect-ratio: 10/9;
                background: transparent;
                border: none;
                cursor: pointer;
                @include grid-center;
                position: relative;
                #icon{
                    width: 40px;
                    aspect-ratio: 1/1;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top:-11%;
                    left:-18px;
                    z-index: 1;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                img{
                    position: absolute;
                    top:0px;
                    z-index: 3;                    
                }
                &_text{
                    z-index: 5;
                    font-size: 17px;
                    font-weight: 900;
                    padding: 0 7px;
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    color: #E3856B;
                    text-decoration: overline;
                }
            }
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .Header{
        position: relative;
        &_tabs{
                flex-direction: row;
                height: 150px;
                width: 100vw;
                &_tab{
                    width: 120px;
                }
        }
    }
  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .Header{
        top:3vh;
        &_tabs{
                font-size: 16px;
                padding: 0;
                border-radius: 20px;
                row-gap: 10px;
                height: 125px;
                flex-direction: row;
                &_tab{
                    .tile{
                        transform: rotate(45deg);
                    }
                    #icon{
                        left:-12px;
                        top:-30px;
                    }
                }
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Header{
        position: relative;
        top:20px;
        overflow: hidden;
        width: 100vw;
        top:0;
        &_tabs{
                border: none;
                width: 100vw;
                padding: 0;
                row-gap: 0;
                display: flex;
                overflow: scroll;
                height: 130px;
                justify-content: unset;
                &_tab{
                    width: 33vw;
                    aspect-ratio: 1/1;
                    .tile{
                        display: none;
                    }
                    #icon{
                        width: 60px;
                        left: 0;
                        top:-13px;
                        left:2px;
                        z-index: 1;
                    }
                    &_text{
                        font-size: 14px;
                        bottom: 1vh;
                    }
                }
        }
    }
 }