@import "../base";

.home{
    display: grid;
    position: relative;
    top: 70px;
    &_intro{
        position: relative;
        &_motto{
            //border: 2px solid red;
            padding: 20px 10vw;
            display: grid;
            #title, #competitive{
                font-size: 40px;
                font-family: $annie;
                color: #2772db;
                font-weight: 900;
                text-decoration: underline;
                position: relative;
                //border-bottom: 2px solid $main_orange;
            }
            #detail{
                position: relative;
                z-index: 7 !important;
                color: $main_orange;
                font-size: 25px;
                font-family: $annie;
            }
        }
        &_howitworks {
            display: flex;
            //height: 250px;
            //border: 4px solid purple;
            position: relative;
            z-index: 2 !important;
            justify-content: center;
            img{
                width: 80%;
                height: 100%;
                object-fit: contain;
                position: relative;
                top:-40px;
                z-index: 2 !important;
                //border: 2px solid red;
            }
        }
        &_explain{
            //border:2px solid green;
            display: flex;
            justify-content: end;
            padding-right: 10vw;
            display: grid;
            text-align: end;
            position: relative;
            top:-70px;
            z-index: 7;
            #title, #competitive{
                font-size: 40px;
                font-family: $annie;
                color: #2772db;
                font-weight: 900;
                text-decoration: underline;
                position: relative;
                //border-bottom: 2px solid $main_orange;
            }
            #detail{
                position: relative;
                z-index: 7 !important;
                color: $main_orange;
                font-size: 25px;
                font-family: $annie;
            }
        }
    }
    &_categories{
        border: 2px solid chartreuse;
        display: grid;
        background-color: #80C4B7;
        background-image: linear-gradient(to right, #E3856B, #d26b4f);
        &_all{
            display: flex;
            justify-content: space-evenly;
            &_card{
                width: 55vw;
                max-width: 500px;
                aspect-ratio: 1/1;
                border-radius: 40% 80%;
                background-image: linear-gradient(to right, #d57358, #b45237);
                box-shadow: 0px 4px 20px 4px rgb(245, 245, 160);
                display: grid;
                justify-content: center;
                align-items: center;
                position: relative;
                &_image{
                    position: relative;
                    background-color: $main_turq;
                    width: 12vw;
                    aspect-ratio: 1/1;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    img{
                        width: 6vw;
                    }
                }
            }
            
        }
    }
}




// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .home{
        top: 70px;
        &_intro{
            &_motto{
                padding: 20px 5vw;
                span{

                }
            }
            &_howitworks {
                //border: 2px solid blue;
                img{
                    width: 90%;
                }
            }
            &_explain{
                padding: 20px 5vw;
            }
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .home{
        &_intro{
            &_motto{
                padding: 10px 20px;
                span{
                    font-size: 30px;
                }
            }
            &_howitworks {
                //border: 2px solid red;
                img{
                    top:0;
                    width: 100%;
                }
            }
            &_explain{
                padding: 10px 20px;
                top:0;
            }
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .home{
        top: 50px;
        span{
            font-size: 17px !important;
        }
        &_intro{
            &_motto{
                #title, #competitive{
                    font-size: 21px !important;
                }
            }
            &_howitworks {
                //border: 2px solid green;
            }
            &_explain{
                #title{
                    font-size: 21px !important;
                }
            }
        }
    }
 }