@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}
@-webkit-keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@-webkit-keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@-webkit-keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
.home {
  display: grid;
  position: relative;
  top: 70px;
}
.home_intro {
  position: relative;
}
.home_intro_motto {
  padding: 20px 10vw;
  display: grid;
}
.home_intro_motto #title, .home_intro_motto #competitive {
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  color: #2772db;
  font-weight: 900;
  text-decoration: underline;
  position: relative;
}
.home_intro_motto #detail {
  position: relative;
  z-index: 7 !important;
  color: #E3856B;
  font-size: 25px;
  font-family: "Annie Use Your Telescope";
}
.home_intro_howitworks {
  display: flex;
  position: relative;
  z-index: 2 !important;
  justify-content: center;
}
.home_intro_howitworks img {
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -40px;
  z-index: 2 !important;
}
.home_intro_explain {
  display: flex;
  justify-content: end;
  padding-right: 10vw;
  display: grid;
  text-align: end;
  position: relative;
  top: -70px;
  z-index: 7;
}
.home_intro_explain #title, .home_intro_explain #competitive {
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  color: #2772db;
  font-weight: 900;
  text-decoration: underline;
  position: relative;
}
.home_intro_explain #detail {
  position: relative;
  z-index: 7 !important;
  color: #E3856B;
  font-size: 25px;
  font-family: "Annie Use Your Telescope";
}
.home_categories {
  display: grid;
  position: relative;
  background-image: linear-gradient(to right, #e98d74, #d67357);
  padding: 50px 0;
}
.home_categories_title {
  font-family: "Annie Use Your Telescope";
  font-size: 50px;
  color: rgb(245, 245, 160);
  padding: 40px;
}
.home_categories_all {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.home_categories_all_card {
  aspect-ratio: 1/1;
  background-image: linear-gradient(to right, #c7674c, #a64a31);
  box-shadow: 0px 4px 20px 4px rgb(245, 245, 160);
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-animation-name: w3;
          animation-name: w3;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.home_categories_all_card_image {
  position: relative;
  background-color: rgb(245, 245, 160);
  width: 12vw;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: w3;
          animation-name: w3;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.home_categories_all_card_image img {
  width: 6vw;
}
.home_categories_all_card #text {
  color: wheat;
  font-family: "Annie Use Your Telescope";
  font-size: 35px;
}
.home_categories_all_minis {
  display: flex;
  position: relative;
}
.home_categories_all_minis .mini {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #80C4B7;
  box-shadow: 0px 4px 20px 4px rgb(244, 244, 146);
}
.home_categories_all_minis #minione {
  -webkit-animation: wiggle 8s infinite, move1 8s infinite;
          animation: wiggle 8s infinite, move1 8s infinite;
  width: 13vw;
}
.home_categories_all_minis #minitwo {
  right: 0;
  -webkit-animation: w4 8s infinite, move2 8s infinite;
          animation: w4 8s infinite, move2 8s infinite;
  width: 15vw;
}
.home_categories_all_minis #minithree {
  bottom: 0;
  -webkit-animation: w3 8s infinite, move3 8s infinite;
          animation: w3 8s infinite, move3 8s infinite;
  width: 17vw;
}
.home_categories_all_minis #minifour {
  -webkit-animation: w4 8s infinite, move4 8s infinite;
          animation: w4 8s infinite, move4 8s infinite;
  bottom: 0;
  right: 0;
  width: 14vw;
}
.home_categories_all_minis #minifive {
  -webkit-animation: w3 8s infinite, move5 8s infinite;
          animation: w3 8s infinite, move5 8s infinite;
  left: 30%;
  top: 10%;
  width: 14vw;
}
.home_categories #test {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 991.98px) {
  .home {
    top: 70px;
  }
  .home_intro_motto {
    padding: 20px 5vw;
  }
  .home_intro_howitworks img {
    width: 90%;
  }
  .home_intro_explain {
    padding: 20px 5vw;
  }
  .home_categories {
    border: 3px solid blue;
  }
}
@media (max-width: 767.98px) {
  .home_intro_motto {
    padding: 10px 20px;
  }
  .home_intro_motto span {
    font-size: 30px;
  }
  .home_intro_howitworks img {
    top: 0;
    width: 100%;
  }
  .home_intro_explain {
    padding: 10px 20px;
    top: 0;
  }
  .home_categories {
    border: 3px solid red;
  }
  .home_categories_all {
    grid-template-columns: 1fr;
    justify-self: center;
    position: relative;
    top: -50px;
    width: 75vw;
    max-width: 500px;
  }
  .home_categories_all_card {
    align-content: start;
    padding-top: 80px;
    -webkit-animation: w3 8s infinite, move1 8s infinite;
            animation: w3 8s infinite, move1 8s infinite;
  }
}
@media (max-width: 575.98px) {
  .home {
    top: 50px;
  }
  .home span {
    font-size: 17px !important;
  }
  .home_intro_motto #title, .home_intro_motto #competitive {
    font-size: 21px !important;
  }
  .home_intro_explain #title {
    font-size: 21px !important;
  }
  .home_categories {
    border: 3px solid green;
  }
  .home_categories_all_card {
    padding-top: 40px;
  }
  .home_categories_all_minis .mini {
    width: 24vw !important;
  }
}/*# sourceMappingURL=home.css.map */