@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 82% 102% 63% 100%;
  }
  25% {
    border-radius: 109% 83% 123% 77%;
  }
  50% {
    border-radius: 79% 83% 103% 73%;
  }
  75% {
    border-radius: 109% 83% 123% 77%;
  }
  100% {
    border-radius: 82% 102% 63% 100%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 82% 102% 63% 100%;
  }
  25% {
    border-radius: 109% 83% 123% 77%;
  }
  50% {
    border-radius: 79% 83% 103% 73%;
  }
  75% {
    border-radius: 109% 83% 123% 77%;
  }
  100% {
    border-radius: 82% 102% 63% 100%;
  }
}
.home {
  display: grid;
  position: relative;
  top: 70px;
}
.home_intro {
  position: relative;
}
.home_intro_motto {
  padding: 20px 10vw;
  display: grid;
}
.home_intro_motto #title, .home_intro_motto #competitive {
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  color: #2772db;
  font-weight: 900;
  text-decoration: underline;
  position: relative;
}
.home_intro_motto #detail {
  position: relative;
  z-index: 7 !important;
  color: #E3856B;
  font-size: 25px;
  font-family: "Annie Use Your Telescope";
}
.home_intro_howitworks {
  display: flex;
  position: relative;
  z-index: 2 !important;
  justify-content: center;
}
.home_intro_howitworks img {
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -40px;
  z-index: 2 !important;
}
.home_intro_explain {
  display: flex;
  justify-content: end;
  padding-right: 10vw;
  display: grid;
  text-align: end;
  position: relative;
  top: -70px;
  z-index: 7;
}
.home_intro_explain #title, .home_intro_explain #competitive {
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  color: #2772db;
  font-weight: 900;
  text-decoration: underline;
  position: relative;
}
.home_intro_explain #detail {
  position: relative;
  z-index: 7 !important;
  color: #E3856B;
  font-size: 25px;
  font-family: "Annie Use Your Telescope";
}
.home_categories {
  border: 2px solid chartreuse;
  display: grid;
  background-color: #80C4B7;
  background-image: linear-gradient(to right, #E3856B, #d26b4f);
}
.home_categories_all {
  display: flex;
  justify-content: space-evenly;
}
.home_categories_all_card {
  width: 55vw;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 40% 80%;
  background-image: linear-gradient(to right, #d57358, #b45237);
  box-shadow: 0px 4px 20px 4px rgb(245, 245, 160);
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home_categories_all_card_image {
  position: relative;
  background-color: #80C4B7;
  width: 12vw;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.home_categories_all_card_image img {
  width: 6vw;
}

@media (max-width: 991.98px) {
  .home {
    top: 70px;
  }
  .home_intro_motto {
    padding: 20px 5vw;
  }
  .home_intro_howitworks img {
    width: 90%;
  }
  .home_intro_explain {
    padding: 20px 5vw;
  }
}
@media (max-width: 767.98px) {
  .home_intro_motto {
    padding: 10px 20px;
  }
  .home_intro_motto span {
    font-size: 30px;
  }
  .home_intro_howitworks img {
    top: 0;
    width: 100%;
  }
  .home_intro_explain {
    padding: 10px 20px;
    top: 0;
  }
}
@media (max-width: 575.98px) {
  .home {
    top: 50px;
  }
  .home span {
    font-size: 17px !important;
  }
  .home_intro_motto #title, .home_intro_motto #competitive {
    font-size: 21px !important;
  }
  .home_intro_explain #title {
    font-size: 21px !important;
  }
}/*# sourceMappingURL=home.css.map */