@import "../base";

.home{
    display: grid;
    position: relative;
    top: 70px;
    &_intro{
        position: relative;
        &_motto{
            //border: 2px solid red;
            padding: 20px 10vw;
            display: grid;
            #title, #competitive{
                font-size: 40px;
                font-family: $annie;
                color: #2772db;
                font-weight: 900;
                text-decoration: underline;
                position: relative;
            }
            #detail{
                position: relative;
                z-index: 7 !important;
                color: $main_orange;
                font-size: 25px;
                font-family: $annie;
            }
        }
        &_howitworks {
            display: flex;
            position: relative;
            z-index: 2 !important;
            justify-content: center;
            img{
                width: 80%;
                height: 100%;
                object-fit: contain;
                position: relative;
                top:-40px;
                z-index: 2 !important;
            }
        }
        &_explain{
            //border:2px solid green;
            display: flex;
            justify-content: end;
            padding-right: 10vw;
            display: grid;
            text-align: end;
            position: relative;
            top:-70px;
            z-index: 7;
            #title, #competitive{
                font-size: 40px;
                font-family: $annie;
                color: #2772db;
                font-weight: 900;
                text-decoration: underline;
                position: relative;
            }
            #detail{
                position: relative;
                z-index: 7 !important;
                color: $main_orange;
                font-size: 25px;
                font-family: $annie;
            }
        }
    }
    &_categories{
        //border: 2px solid chartreuse;
        display: grid;
        position: relative;
        //background-image: linear-gradient(to right, #e98d74, #d67357);
        padding: 50px 0;
        padding-top: 0;
        background-color: $main_orange;
        box-shadow: 0px -37px 18px 24px $main_orange, 0px 37px 18px 24px $main_orange ;
        &_title{
            display: flex;
            column-gap: 10px;
            #flexibility, #feels, #amazing{
                font-family: $annie;
                font-size: 50px;
                color: rgb(245, 245, 160);
            }
            #flexibility, #amazing{
                position: relative;
                display: inline-block;
                transform: rotate(-6deg);
            }
            #feels{
                position: relative;
                display: inline-block;
                transform: rotate(6deg);
            }
            padding: 40px;
        }
        &_all{
            padding: 20px 40px;
            display: grid;
            grid-template-columns: 3fr 4fr;
            
            &_card{
                max-width: 550px;
                aspect-ratio: 1/1;
                background-image: linear-gradient(to right, #c7674c, #a64a31);
                box-shadow: 0px 4px 20px 4px rgb(245, 245, 160);
                @include grid-center;
                position: relative;
                animation: w3 8s infinite, move1 8s infinite;
                #text{
                    color: rgb(245, 245, 160);
                    font-family: $annie;
                    font-size: 35px;
                }
            }
            &_minis{
                //border: 2px solid black;
                display: flex;
                position: relative;
                .mini{
                   // border:3px solid white;
                    position: absolute;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    @include grid-center;
                    background-color: $main_turq;
                    box-shadow: 0px 4px 20px 4px rgb(244, 244, 146);
                }
                #minione{
                    animation: wiggle 8s infinite, move1 8s infinite;
                    width: 13vw;
                }
                #minitwo{
                    right: 0;
                    animation: w4 8s infinite, move2 8s infinite;
                    width: 15vw;
                }
                #minithree{
                    bottom: 0;
                    animation: w3 8s infinite, move3 8s infinite;
                    width: 17vw;
                }
                #minifour{
                    animation: w4 8s infinite, move4 8s infinite;
                    bottom: 0;
                    right: 0;
                    width: 14vw;
                }
                #minifive{
                    animation: w3 8s infinite, move5 8s infinite;
                    left: 30%;
                    top:10%;
                    width: 14vw;
                }
            }            
        }
        #test{
                display: grid;
                justify-content: space-evenly;
                grid-template-columns: repeat(5, 1fr);
            }
    }
    &_productsdemo{
        background-color: $main_orange;
        box-shadow: 0px -27px 18px 24px #80c4b7, 0px 27px 18px 24px #80c4b7 ;
        box-shadow: 0px -37px 18px 24px $main_orange, 0px 37px 18px 24px $main_orange ;
        position: relative;
        top: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 30px;
        &_product{
            aspect-ratio: 1/1;
            //border: 2px solid black;
            background-color: rgb(245, 245, 201);
            border-radius: 20px;
            display: grid;
            padding: 10px;
            &_image{
                //border: 2px solid chartreuse;
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            &_details{
                display: grid;
                border: 3px solid crimson;
            }
        }
    }
    


    &_rest{
        height: 500px;
        position: relative;
        top: 300px;
    }
}


@media (max-width: 1250.98px) { 
    .home{
        &_productsdemo{
            grid-template-columns: repeat(2, 1fr);
            padding-left: 10vw;
            padding-right: 10vw;
            &_product{
            }
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .home{
        top: 70px;
        &_intro{
            &_motto{
                padding: 20px 5vw;
            }
            &_howitworks {
                img{
                    width: 90%;
                }
            }
            &_explain{
                padding: 20px 5vw;
            }
        }
        &_categories{
            //border: 3px solid blue;
        }
        &_productsdemo{
            grid-template-columns: repeat(2, 1fr);
            padding: 30px;
            &_product{
                min-width: 300px;
            }
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .home{
        &_intro{
            &_motto{
                padding: 10px 20px;
                span{
                    font-size: 30px;
                }
            }
            &_howitworks {
                //border: 2px solid red;
                img{
                    top:0;
                    width: 100%;
                }
            }
            &_explain{
                padding: 10px 20px;
                top:0;
            }
        }
        &_categories{
            //border: 3px solid red;
            position: relative;
            top:60px;
            &_all{
                grid-template-columns: 1fr;
                justify-self: center;
                position: relative;
                top: -50px;
                width: 75vw;
                max-width: 500px;
                &_card{
                    align-content: start;
                    padding-top: 80px;
                }
            }
        }
        &_productsdemo{
            grid-template-columns: 1fr;
            &_product{
                width: 500px;
                justify-self: center;
            }
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .home{
        top: 50px;
        span{
            font-size: 17px !important;
        }
        &_intro{
            &_motto{
                #title, #competitive{
                    font-size: 21px !important;
                }
            }
            &_howitworks {
                //border: 2px solid green;
            }
            &_explain{
                #title{
                    font-size: 21px !important;
                }
            }
        }
        &_categories{
            //border: 3px solid green;
            padding-bottom: 100px;
            &_title{
                padding-left: 20px;
                #flexibility, #feels, #amazing{
                    font-size: 25px !important;
                    position: relative;
                    top:-30px;
                }
            }
            &_all{
                &_card{
                    padding-top: 40px;
                    #text{
                        font-size: 25px !important;
                    }
                }
                &_minis{
                    .mini{
                        width: 24vw !important;
                    }
                }
            }
        }
        &_productsdemo{
            grid-template-columns: 1fr;
            justify-items: center;
            &_product{
                width: 80vw;
                aspect-ratio: 1/1;
            }
        }
    }
 }