@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}
@-webkit-keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@-webkit-keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% - 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% - 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@-webkit-keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
.Page_login {
  height: 100vh;
  width: 100vw;
}

.Login {
  position: relative;
  top: 70px;
  height: calc(100vh - 70px);
  display: grid;
  justify-content: center;
  align-items: center;
}
.Login_shell {
  width: 600px;
  height: 600px;
  align-self: start;
}
.Login_shell_gavel {
  width: 200px;
  height: 200px;
  position: relative;
  left: 95px;
}
.Login_shell_gavel_image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(-18deg);
  -webkit-animation-name: hit;
          animation-name: hit;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  top: 0;
}
.Login_shell_gavel #bid {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: -36px;
  right: -45px;
}
.Login_shell_gavel #bid #bid_hand {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(0deg);
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  top: 0;
}
.Login_shell_entries {
  display: grid;
  justify-items: center;
  padding-top: 30px;
}
.Login_shell_entries_email, .Login_shell_entries_password, .Login_shell_entries_button, .Login_shell_entries_reminder, .Login_shell_entries_warning {
  border: 2px solid #E3856B;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.Login_shell_entries_email input, .Login_shell_entries_password input, .Login_shell_entries_button input, .Login_shell_entries_reminder input, .Login_shell_entries_warning input {
  border: none;
  width: 100%;
  font-size: 18px;
}
.Login_shell_entries_email input:focus, .Login_shell_entries_password input:focus, .Login_shell_entries_button input:focus, .Login_shell_entries_reminder input:focus, .Login_shell_entries_warning input:focus {
  outline: none;
}
.Login_shell_entries_email button, .Login_shell_entries_password button, .Login_shell_entries_button button, .Login_shell_entries_reminder button, .Login_shell_entries_warning button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  background: transparent;
  border: none;
  background-image: radial-gradient(circle at center center, #E3856B 0%, #d36b4f 27.5%, #c05537 40%, #ac4224 57.5%, #983519 75%, #862a11 100%) !important;
  color: white;
}
.Login_shell_entries_button {
  padding: 0;
  position: relative;
}
.Login_shell_entries_warning {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border: 2px solid red;
}
.Login_shell_entries_warning span {
  color: red;
}
.Login_shell_entries_reminder {
  display: flex;
  justify-content: end;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border: none;
}
.Login_shell_entries_reminder #signup a {
  text-decoration: none;
  color: #E3856B;
}

@media (max-width: 575.98px) {
  .Login {
    top: 50px;
    height: calc(100vh - 50px);
  }
  .Login_shell {
    width: 100vw;
    height: auto;
    display: grid;
    align-self: start;
    justify-content: center;
  }
  .Login_shell_gavel {
    left: 0;
    display: grid;
    justify-self: center;
  }
  .Login_shell_entries {
    width: 100vw;
  }
  .Login_shell_entries_email, .Login_shell_entries_password, .Login_shell_entries_button, .Login_shell_entries_reminder, .Login_shell_entries_warning {
    width: 90vw;
    max-width: 400px;
  }
}
@-webkit-keyframes hit {
  0% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}
@keyframes hit {
  0% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}
@-webkit-keyframes down {
  0% {
    top: 0px;
  }
  15% {
    top: 0px;
  }
  45% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@keyframes down {
  0% {
    top: 0px;
  }
  15% {
    top: 0px;
  }
  45% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 180px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 20px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}/*# sourceMappingURL=login.css.map */