@import '../base';

.Page_login{
    height: 100vh;
    width: 100vw;
}

.Login{
    position: relative;
    top:70px;
    //border: 8px solid black;
    height: calc(100vh - 70px);
    @include grid-center;
    &_shell{
        //border: 4px solid yellow;
        width: 600px;
        height: 600px;
        align-self: start;
        &_gavel{
            width: 200px;
            height: 200px;
            //border: 2px solid green;
            position: relative;
            left: 95px;
            &_image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: rotate(-18deg);
                animation-name: hit;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                position: relative;
                top:0;
            }
            #bid{
                width: 100px;
                height: 150px;
                //border: 3px solid orange;
                position: absolute;
                bottom: -36px;
                right: -45px;
                #bid_hand{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transform: rotate(0deg);
                    animation-name: down;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    position: relative;
                    top:0;
                }
            }
        }
        &_entries{
            //border:2px solid red;
            display: grid;
            justify-items: center;
            padding-top: 30px;
            &_email, &_password, &_button, &_reminder,&_warning{
                border:2px solid $main_orange;
                width: 400px;
                margin-bottom: 10px;
                padding: 10px 20px;
                border-radius: 5px;
                input{
                    border: none;
                    width: 100%;
                    font-size: 18px;
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    padding: 10px 20px;
                    font-size: 18px;
                    background: transparent;
                    border: none;
                    background-image: radial-gradient(circle at center center, #E3856B 0%, #d36b4f  27.5%, #c05537  40%, #ac4224 57.5%, #983519 75%, #862a11 100%) !important;
                    color: white;
                }
            }
            &_button{
                padding: 0;
                position: relative;
            }
            &_warning{
                display: flex;
                column-gap: 5px;
                border: 2px solid red;
                span{
                    color:red;
                }
            }
            &_reminder{
                display: flex;
                justify-content: end;
                column-gap: 5px;
                border: none;
                #signup{
                    a{
                        text-decoration: none;
                        color: $main_orange;
                    }
                }
            }
        }
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Login{
        top:50px;
        height: calc(100vh - 50px);
        &_shell{
            //border: 4px solid green;
            width: 100vw;
            height: auto;
            display: grid;
            align-self: start;
            justify-content: center;
            &_gavel{
                left:0;
                display: grid;
                justify-self: center;

            }

            &_entries{
                width: 100vw;
                &_email, &_password, &_button, &_reminder,&_warning{
                    width: 90vw;
                    max-width: 400px;
                }
            }
        }
    }
 }



@keyframes hit{
    0%   { transform: rotate(-18deg);}
    30%  {transform: rotate(0deg);}
    60%  {transform: rotate(0deg);}
    100% {transform: rotate(-18deg);}
}


@keyframes down{
    0%   {top: 0px;
    }
    15%  {top: 0px;
    }
    45% {top: 10px;
    }
    100% {top: 0px;
    }
}



.lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    top:2px;
    left:180px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    //margin: 8px;
    box-sizing: border-box;
    border: 20px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }