@import '../base';



.Navbar{
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: $main_orange;
    z-index: 4;
    display: flex;
    align-items: center;
    padding-left:44px;
    &_icon{
        position: relative;
        height: 70px;
        aspect-ratio: 1/1;
        display: grid;
        align-items: center;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    &_motto{
        //border: 2px solid red;
        padding: 0 20px;
        color: black;
        text-shadow: 1px 1px $main_turq;
        font-size: 27px;
    }
    &_bids{
        border: 2px solid black;
    }

    &_member{
        display: flex;
        //width: 300px;
        //border: 2px solid blue;
        position: absolute;
        right: 40px;
        justify-content: end;
        column-gap: 10px;
        &_login, &_signup{
            display: flex;
            align-items: center;
            border-bottom: 2px solid black;
            button{
                border: none;
                background: transparent;
                cursor: pointer;
                display: flex;
                column-gap: 10px;
                padding: 5px 10px;
                font-size: 17px;
                border-bottom: 1px solid $main_turq;
                span{
                    text-shadow: 0.5px 0.5px $main_turq;
                }
            }

        }
    }

}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    
 }


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .Navbar{
        padding-left: 19px;
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Navbar{
        height: 50px;
        &_icon{
            height: 50px;
        }
        &_member{
            right: 5px;
            column-gap: 4px;
            width: fit-content;
            &_login, &_signup{
                border: none;
                padding: 0;
                button{
                    border: none;
                    span{
                        display: none;
                    }
                }
    
            }
        }
    }
 }