@import "../base";

.Register{
    border:3px solid green;
    position: relative;
    top:70px;
    height: calc(100vh - 70px);
    @include grid-center;
    &_shell{
        width: 600px;
        height: 600px;
        border:2px solid red;
        display: grid;
        &_entries{
            border:2px solid green;
            display: grid;
            justify-items: center;
            padding-top: 30px;
            display: grid;
            align-self: center;
            &_username, &_email, &_password, &_button{
                border:2px solid $main_turq;
                width: 400px;
                margin-bottom: 10px;
                padding: 10px 20px;
                border-radius: 5px;
                input{
                    border: none;
                    width: 100%;
                    font-size: 18px;
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    padding: 10px 20px;
                    font-size: 18px;
                    background: transparent;
                    border: none;
                    background-image: radial-gradient(circle at center center, #E3856B 0%, #d36b4f  27.5%, #c05537  40%, #ac4224 57.5%, #983519 75%, #862a11 100%) !important;
                    color: white;
                }
            }
            &_button{
                padding: 0;
            }
        }
    }
}