@import "../base";

.live{
    position: relative;
    top:70px;
    //border-bottom: 4px solid salmon;
    padding-bottom: 50px;
    &_images{
        display: grid;
        grid-auto-flow: column;
        overflow: hidden;
        position: relative;
        padding-top: 20px;
        &_image{
            //border: 3px solid black;
            @include grid-center;
            width: 25vw;
            //aspect-ratio: 5/3;
            padding: 5px;
            @include image-fit;
        }
    }
    &_auction{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;
        top:3vh;
        gap: 0.5vw;
        padding: 0.5vw;
        button{
            border: none;
            background: transparent;
            color: yellow;
            font-size: 25px;
           
            #up{
                 @include image-fit;
                 height: 50%;
                 img{border: none;}
            }
        }
        &_cell{
            //border: 2px solid black;
            aspect-ratio: 4/3;
            display: flex;
            align-items: center;
            justify-content: center;
            //background-color: #9370DB;
            img{border-top: 2px solid gray;}
            #hand{
                height: 50%;
                @include image-fit;
            }
            span{
                color: rgb(83, 6, 83);
                font-size: 19px;
                text-decoration: underline;

            }
        }
        #price{
            color: white;
            font-size: 45px;
            text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px green;
            background-color: rgb(58, 7, 58);
            border-radius: 5px;
            height: 50%;
            width: 100%;
            display: grid;
            align-self: center;  
            position: relative;
            left: 2vw;
            //animation: blink 2s infinite;
        }
        #price_anim{
            color: white;
            font-size: 45px;
            text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px green,
            0 0 38px green;
            background-color: rgb(58, 7, 58);
            border-radius: 5px;
            height: 50%;
            width: 100%;
            display: grid;
            align-self: center;  
            position: relative;
            left: 2vw;
            animation: blink 2s infinite;
        }
    }

}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .live{
        //border-bottom: 4px solid blue;
        &_images{
            &_image{
                width: 33.33vw;
            }
        }
        &_auction{
            grid-template-columns: repeat(4, 1fr);
            &_cell{
                aspect-ratio: 3/2;
            }
        }

    }
    
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .live{
        //border-bottom: 4px solid red;
        &_images{
            &_image{
                width: 50vw;
            }
        }
        &_auction{
            grid-template-columns: repeat(3, 1fr);
            &_cell{
                aspect-ratio: 2/1;
                #hand{
                    height: 70%;
                    @include image-fit;
                }
                span{
                    font-size: 15px;
                }
            }
            #price{
                height: 80%;
            }
            #price_anim{
                height: 80%;
            }
        }

    }
    
 }


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .live{
        top:50px;
        //border-bottom: 4px solid green;
        &_images{
            padding-top: 0;
            &_image{
                width: 100vw;
                padding: 5vw;
            }
        }
        &_auction{
            #price{
                font-size: 25px;
            }
            #price_anim{
                font-size: 25px;
            }
            button{
                #up{
                     height: 80%;
                }
            }
        }
    }
    
 }



