@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-auto-flow: column;
}

@-webkit-keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}

@keyframes wiggle {
  0% {
    border-radius: 97% 90% 88% 75%;
  }
  25% {
    border-radius: 68% 137% 63% 103%;
  }
  50% {
    border-radius: 94% 212% 165% 200%;
  }
  75% {
    border-radius: 68% 137% 63% 103%;
  }
  100% {
    border-radius: 97% 90% 88% 75%;
  }
}
@-webkit-keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@keyframes w3 {
  0% {
    border-radius: 83% 103% 76% 91%;
  }
  15% {
    border-radius: 105% 91% 96% 77%;
  }
  30% {
    border-radius: 62% 68% 80% 67%;
  }
  40% {
    border-radius: 58% 74% 61% 81%;
  }
  50% {
    border-radius: 80% 74% 76% 63%;
  }
  60% {
    border-radius: 58% 74% 61% 81%;
  }
  70% {
    border-radius: 62% 68% 80% 67%;
  }
  85% {
    border-radius: 105% 91% 96% 77%;
  }
  100% {
    border-radius: 83% 103% 76% 91%;
  }
}
@-webkit-keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@keyframes w4 {
  0% {
    border-radius: 40% 53% 47% 57%;
  }
  15% {
    border-radius: 51% 62% 47% 45%;
  }
  30% {
    border-radius: 96% 81% 89% 67%;
  }
  40% {
    border-radius: 47% 44% 49% 44%;
  }
  50% {
    border-radius: 68% 82% 75% 100%;
  }
  60% {
    border-radius: 47% 44% 49% 44%;
  }
  70% {
    border-radius: 96% 81% 89% 67%;
  }
  85% {
    border-radius: 51% 62% 47% 45%;
  }
  100% {
    border-radius: 40% 53% 47% 57%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move1 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: -20px;
    left: -30px;
  }
  60% {
    top: -40px;
    left: -10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
    right: 0;
  }
  40% {
    top: -50px;
    right: -30px;
  }
  60% {
    top: -30px;
    right: -40px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: 0;
    left: 0;
  }
  10% {
    bottom: 60px;
    left: 30px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@keyframes move5 {
  0% {
    left: 30%;
    top: 10%;
  }
  40% {
    left: 30%;
    top: calc(10% + 60px);
  }
  100% {
    left: 30%;
    top: 10%;
  }
}
@-webkit-keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@keyframes move4 {
  0% {
    right: 0;
    bottom: 0;
  }
  10% {
    right: 0;
    bottom: 60px;
  }
  50% {
    right: 60px;
    bottom: 30px;
  }
}
@-webkit-keyframes beat {
  0% {
    width: 50px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 50px;
  }
}
@keyframes beat {
  0% {
    width: 50px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 50px;
  }
}
@-webkit-keyframes beatmobile {
  0% {
    width: 30px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 30px;
  }
}
@keyframes beatmobile {
  0% {
    width: 30px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 30px;
  }
}
.user_profile {
  position: relative;
  top: 70px;
  display: flex;
}
.user_profile_profile-picture {
  width: 20vw;
  width: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.user_profile_profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 900px;
  max-height: 600px;
}
.user_profile_profile-picture img {
  -o-object-fit: contain;
     object-fit: contain;
}
.user_profile_profile-picture #user {
  display: none;
}
.user_profile_profile-picture_badge-details {
  position: absolute;
  top: 45%;
  left: 16%;
  width: 270px;
  height: 165px;
  padding-left: 10px;
}
.user_profile_profile-picture_badge-details_title {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-content: start;
  height: 45px;
  font-family: "Annie Use Your Telescope";
  font-size: 21px;
  font-weight: bolder !important;
  padding-top: 8px;
}
.user_profile_profile-picture_badge-details_username, .user_profile_profile-picture_badge-details_email, .user_profile_profile-picture_badge-details_active {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 27px;
  justify-content: start;
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.user_profile_profile-picture_badge-details_username span, .user_profile_profile-picture_badge-details_email span, .user_profile_profile-picture_badge-details_active span {
  font-family: "Annie Use Your Telescope";
  font-size: 21px;
}
.user_profile_profile-picture_badge-details_username #one, .user_profile_profile-picture_badge-details_email #one, .user_profile_profile-picture_badge-details_active #one {
  width: 37%;
  font-weight: bolder !important;
}
.user_profile_profile-picture_badge-details_username #one_email, .user_profile_profile-picture_badge-details_email #one_email, .user_profile_profile-picture_badge-details_active #one_email {
  width: 14%;
  font-weight: bolder !important;
}
.user_profile_profile-picture_badge-details_username #three, .user_profile_profile-picture_badge-details_email #three, .user_profile_profile-picture_badge-details_active #three {
  padding-left: 5px;
  color: blue;
}
.user_profile_details {
  width: calc(100vw - 400px);
  display: grid;
  padding-top: 50px;
  justify-content: center;
  position: relative;
  left: 370px;
}
.user_profile_details_shell {
  position: relative;
  border-radius: 15px;
  min-width: 590px;
  display: grid;
  row-gap: 10px;
  padding-bottom: 50px;
}
.user_profile_details_shell_history, .user_profile_details_shell_edit, .user_profile_details_shell_booked {
  display: flex;
  grid-auto-flow: column;
}
.user_profile_details_shell_history img, .user_profile_details_shell_edit img, .user_profile_details_shell_booked img {
  height: 60px;
}
.user_profile_details_shell_history_content, .user_profile_details_shell_edit_content, .user_profile_details_shell_booked_content {
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-content: start;
  font-family: "Annie Use Your Telescope";
  font-size: 27px;
  font-weight: bolder;
  padding: 0 20px;
  text-decoration: underline;
}
.user_profile_details_shell_history #right, .user_profile_details_shell_edit #right, .user_profile_details_shell_booked #right {
  justify-content: end;
}
.user_profile_details_shell_info {
  /*                 border: 1px solid black;
                  border-radius: 5px; */
  padding: 20px;
  display: grid;
  row-gap: 20px;
  background-color: rgb(242, 242, 242);
  background-image: linear-gradient(to left, rgb(242, 242, 242), rgb(232, 232, 201));
  margin-bottom: 30px;
}
.user_profile_details_shell_info .bid_history {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user_profile_details_shell_info .bid_history #double {
  display: grid;
}
.user_profile_details_shell_info .bid_history span {
  font-family: "Annie Use Your Telescope";
  font-size: 21px;
}
.user_profile_details_shell_info .bid_history span .up {
  font-weight: bolder;
  text-decoration: underline;
}
.user_profile_details_shell_info .coupon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user_profile_details_shell_info .coupon_holder {
  width: 180px;
  aspect-ratio: 2/1;
  position: relative;
}
.user_profile_details_shell_info .coupon_holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 900px;
  max-height: 600px;
}
.user_profile_details_shell_info .coupon_holder_reservation {
  position: absolute;
  top: 20%;
  left: 37%;
}
.user_profile_details_shell_info #error {
  display: grid;
  margin-bottom: 20px;
  padding: 10px;
}
.user_profile_details_shell_info #edit_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user_profile_details_shell_info #edit_form .double {
  display: grid;
  justify-content: center;
  row-gap: 10px;
}
.user_profile_details_shell_info #edit_form .double input {
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid silver;
}
.user_profile_details_shell_info #edit_form .double input:focus {
  outline: none;
}
.user_profile_details_shell_info #edit_form .double button {
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  background-image: radial-gradient(circle at center center, rgb(243, 229, 148) 0%, rgb(246, 224, 99) 27.5%, rgb(249, 222, 72) 40%, rgb(246, 217, 50) 57.5%, rgb(248, 215, 28) 75%, gold 100%) !important;
}
.user_profile_details_shell_info #edit_form #left {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 991.98px) {
  .user_profile {
    padding: 30px;
    display: grid;
  }
  .user_profile_profile-picture {
    position: relative;
    display: flex;
    -moz-column-gap: 1%;
         column-gap: 1%;
    justify-content: start;
    width: 100%;
  }
  .user_profile_profile-picture_badge-details {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    left: calc((100% - 600px) / 2);
  }
  .user_profile_profile-picture_badge-details_title {
    font-size: 27px;
    padding-bottom: 40px;
  }
  .user_profile_profile-picture_badge-details_email #one_email {
    width: 37%;
  }
  .user_profile_profile-picture_badge-details span {
    font-size: 27px !important;
  }
  .user_profile_profile-picture #badge {
    display: none;
  }
  .user_profile_profile-picture #user {
    display: block;
    width: 250px;
  }
  .user_profile_details {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .user_profile {
    padding-right: 0;
  }
  .user_profile_profile-picture #user {
    width: 200px;
  }
  .user_profile_profile-picture_badge-details {
    width: 330px;
    left: calc((100% - 500px) / 2);
  }
  .user_profile_profile-picture_badge-details span {
    font-size: 24px !important;
  }
  .user_profile_details {
    width: 90vw;
  }
  .user_profile_details_shell {
    min-width: unset;
    width: 500px;
  }
  .user_profile_details_shell_info .bid_history span {
    font-size: 19px;
  }
}
@media (max-width: 575.98px) {
  .user_profile {
    padding: 0;
  }
  .user_profile_profile-picture {
    display: grid;
    justify-content: center;
  }
  .user_profile_profile-picture #user {
    width: 130px;
    justify-self: end;
  }
  .user_profile_profile-picture_badge-details {
    left: 0;
    top: -60px;
  }
  .user_profile_profile-picture #user {
    display: grid;
  }
  .user_profile_details {
    width: 100vw;
    padding: 0;
    top: -60px;
  }
  .user_profile_details_shell {
    width: 90vw;
  }
  .user_profile_details_shell_info .coupon {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .user_profile_details_shell_info .coupon_holder {
    width: 100%;
  }
  .user_profile_details_shell_info .coupon_holder div {
    font-size: 14px;
    left: 35%;
  }
  .user_profile_details_shell_info .bid_history {
    -moz-column-gap: 5px;
         column-gap: 5px;
    display: grid;
  }
  .user_profile_details_shell_info .bid_history #double {
    grid-auto-flow: column;
  }
  .user_profile_details_shell_info #edit_form {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}/*# sourceMappingURL=user_profile.css.map */