@import "../base";

.user_profile{
    position: relative;
    top:70px;
    height: 500px;
    display: flex;
    border: 3px solid saddlebrown;
    &_profile-picture{
        border: 2px solid red;
        @include grid-center;
        padding: 20px;
        #photo{
            border: 2px solid green;
            @include image-fit;
            height: 200px;
            width: 200px;
        }
    }
}