@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
$oswald:  "Oswald", sans-serif;
$roboto:  'Roboto Slab', serif;
$sborderr: 2px solid red;
$sborderb: 2px solid black;
$sborderg: 2px solid green;
$sborderp: 2px solid purple;

@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}


.App{
  display: grid;
  grid-auto-flow: column;
}