@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto+Slab&family=Rubik+Distressed&display=swap");

@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
$oswald:  "Oswald", sans-serif;
$roboto:  'Roboto Slab', serif;
$annie:  'Annie Use Your Telescope';
$sborderr: 2px solid red;
$sborderb: 2px solid black;
$sborderg: 2px solid green;
$sborderp: 2px solid purple;

$main_orange: #E3856B;
$main_turq: #80C4B7;

@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Oswald", sans-serif;
  color: black;
  box-sizing: border-box;
}


.App{
  display: grid;
  grid-auto-flow: column;
}




@keyframes wiggle {
  0%{
    border-radius: 97% 90% 88% 75%;
  }
    25%{
      border-radius: 68% 137% 63% 103%;
  }

  50%{
    border-radius: 94% 212% 165% 200%;
  }  
  75%{
    border-radius: 68% 137% 63% 103%;
  }  
   100%{
    border-radius: 97% 90% 88% 75%;
  } 
}

@keyframes w3 {
  0%{
    border-radius: 83% 103% 76% 91%;
  }
    15%{
      border-radius: 105% 91% 96% 77%;
  }
  30%{
    border-radius: 62% 68% 80% 67%;
  }  
  40%{
    border-radius: 58% 74% 61% 81%;
  }  
   50%{
    border-radius: 80% 74% 76% 63%;
  } 
  60%{
    border-radius: 58% 74% 61% 81%;
  } 
  70%{
    border-radius: 62% 68% 80% 67%;
  } 
  85%{
    border-radius: 105% 91% 96% 77%;
  } 
  100%{
    border-radius: 83% 103% 76% 91%;
  } 
}