@import '../base';


.Products{
    border: $sborderp;
    display: grid;
    justify-self: center;
    width: calc(96vw - 130px);
    position: relative;
    top:1vh;
}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .App{
        grid-auto-flow: row;
    }
    .Products{
        border: $sborderb;
        display: grid;
        justify-self: center;
        width: calc(96vw - 130px);
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .Products{
        border: $sborderr;
        display: grid;
        justify-self: center;
        width: calc(96vw - 130px);
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Products{
        border: $sborderg;
        display: grid;
        justify-self: center;
        width: calc(96vw - 130px);
    }
 }



